{% assign main_menu = linklists['main-menu'] %}

<ul class="breadcrumb-list list-none my-0 px-0 fs-small-1 flex flex-wrap justify-content-{{ section_st.alignment }}">
  <li class="breadcrumb-item dot-between inline-flex align-center light-dark-grey">
    <a class="breadcrumb-link no-underline light-dark-grey" href="{{ routes.root_url }}">
      {{ 'general.breadcrumb.home' | t }}
    </a>
  </li>

  {% if template contains 'collection' or template contains 'product' %}
    {% assign current_handle = collection.handle | default: product.collections.first.handle %}
    {% assign current_link = nil %}
    {% assign found_parent = false %}

    {% for link in main_menu.links %}
      {% if link.type == 'collection_link' and link.object.handle == current_handle %}
        {% assign current_link = link %}
        {% assign found_parent = true %}
      {% elsif link.links != blank %}
        {% for sublink in link.links %}
          {% if sublink.type == 'collection_link' and sublink.object.handle == current_handle %}
            <li class="breadcrumb-item dot-between inline-flex align-center light-dark-grey">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
            {% assign current_link = sublink %}
            {% assign found_parent = true %}
          {% elsif sublink.links != blank %}
            {% for subsub in sublink.links %}
              {% if subsub.type == 'collection_link' and subsub.object.handle == current_handle %}
                <li class="breadcrumb-item dot-between inline-flex align-center light-dark-grey">
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
                <li class="breadcrumb-item dot-between inline-flex align-center light-dark-grey">
                  <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
                {% assign current_link = subsub %}
                {% assign found_parent = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% if found_parent and current_link %}
      <li class="breadcrumb-item dot-between inline-flex align-center">
        <span class="breadcrumb-link no-underline heading-color">{{ current_link.title }}</span>
      </li>
    {% elsif collection.title %}
      <li class="breadcrumb-item dot-between inline-flex align-center">
        <span class="breadcrumb-link no-underline heading-color">{{ collection.title }}</span>
      </li>
    {% endif %}

    {% if template contains 'product' %}
      <li class="breadcrumb-item dot-between inline-flex align-center">
        <span class="breadcrumb-link no-underline heading-color">{{ product.title }}</span>
      </li>
    {% endif %}
  {% elsif template contains 'page' %}
    <li class="breadcrumb-item dot-between inline-flex align-center">
      <span class="breadcrumb-link no-underline heading-color">{{ page.title }}</span>
    </li>
  {% endif %}
</ul>