{%- if settings.facebook != blank
  or settings.instagram != blank
  or settings.twitter != blank
  or settings.tiktok != blank
  or settings.youtube != blank
  or settings.pinterest != blank
  or settings.vimeo != blank
  or settings.linkedin != blank
  or settings.whatsapp != blank
  or settings.tumblr != blank
  or settings.snapchat != blank
-%}
  <ul class="list-social list-unstyled flex align-center flex-wrap gap" style="--col-gap: 10px;">
    {%- if settings.facebook != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.facebook }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.facebook' | t }}"
        >
          {% comment %}
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="19.5" stroke="currentColor"/><path fill="currentColor" d="M18.333 16.667V18H17v2h1.333v6H21v-6h1.773L23 18h-2v-1.167c0-.54.053-.826.887-.826H23V14h-1.787c-2.133 0-2.88 1-2.88 2.667Z"/>
            </svg>
          {% endcomment %}
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="17" viewBox="0 0 9 17" fill="none">
            <g clip-path="url(#clip0_97_1939)">
              <path d="M7.50897 9.00265L7.92026 6.38995H5.3885V4.69112C5.3885 3.97677 5.74144 3.27936 6.87179 3.27936H8.03979V1.05442C7.35981 0.945829 6.67281 0.887007 5.98426 0.878418C3.89862 0.878418 2.53767 2.13301 2.53767 4.39842V6.38995H0.228027V9.00265H2.53862V15.3217H5.3885V9.00265H7.50897Z" fill="#337FFF"/>
            </g>
            <defs>
              <clipPath id="clip0_97_1939">
                <rect width="8.47059" height="16" fill="white" transform="translate(0.0395508 0.100098)"/>
              </clipPath>
            </defs>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.facebook' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.instagram != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.instagram }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.instagram' | t }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
            <g clip-path="url(#clip0_97_1921)">
              <path d="M5.29235 8.10016C5.29235 7.46077 5.54635 6.84757 5.99846 6.39545C6.45058 5.94334 7.06378 5.68934 7.70317 5.68934C8.34256 5.68934 8.95577 5.94334 9.40788 6.39545C9.86 6.84757 10.114 7.46077 10.114 8.10016C10.114 8.73955 9.86 9.35276 9.40788 9.80487C8.95577 10.257 8.34256 10.511 7.70317 10.511C7.06378 10.511 6.45058 10.257 5.99846 9.80487C5.54635 9.35276 5.29235 8.73955 5.29235 8.10016ZM3.98976 8.10016C3.97862 8.59479 4.06643 9.08665 4.24802 9.54688C4.4296 10.0071 4.70132 10.4264 5.0472 10.7802C5.39308 11.1339 5.80616 11.415 6.26217 11.6069C6.71819 11.7988 7.20795 11.8977 7.7027 11.8977C8.19745 11.8977 8.68722 11.7988 9.14323 11.6069C9.59925 11.415 10.0123 11.1339 10.3582 10.7802C10.7041 10.4264 10.9758 10.0071 11.1574 9.54688C11.339 9.08665 11.4268 8.59479 11.4156 8.10016C11.3938 7.12991 10.993 6.20675 10.2991 5.52826C9.60516 4.84978 8.67321 4.46989 7.7027 4.46989C6.7322 4.46989 5.80025 4.84978 5.10632 5.52826C4.41239 6.20675 4.01161 7.12991 3.98976 8.10016ZM10.6956 4.23946C10.6956 4.41105 10.7465 4.57878 10.8418 4.72146C10.9371 4.86415 11.0726 4.97537 11.2311 5.04108C11.3896 5.10678 11.5641 5.12402 11.7324 5.09062C11.9007 5.05721 12.0553 4.97466 12.1767 4.85339C12.2981 4.73213 12.3808 4.57759 12.4144 4.40933C12.448 4.24106 12.4309 4.06661 12.3654 3.90803C12.2999 3.74945 12.1888 3.61386 12.0462 3.5184C11.9036 3.42293 11.7359 3.37188 11.5644 3.37169C11.3341 3.37169 11.1133 3.46309 10.9504 3.6258C10.7875 3.78851 10.6959 4.00923 10.6956 4.23946ZM4.78129 13.9872C4.07541 13.9543 3.69235 13.8366 3.43823 13.7378C3.12404 13.6217 2.83977 13.4368 2.60623 13.1966C2.36576 12.9637 2.1808 12.6797 2.06506 12.3656C1.96623 12.1115 1.84859 11.7275 1.81659 11.0225C1.78176 10.2602 1.77423 10.0315 1.77423 8.10016C1.77423 6.16887 1.78176 5.94016 1.81659 5.17781C1.84859 4.47193 1.96717 4.08981 2.06506 3.83475C2.19682 3.49687 2.35306 3.25593 2.60623 3.00275C2.85941 2.74863 3.09941 2.5924 3.43823 2.46158C3.69235 2.36275 4.07635 2.24511 4.78129 2.21311C5.54364 2.17828 5.77235 2.17075 7.7027 2.17075C9.634 2.17075 9.8627 2.17828 10.626 2.21311C11.3309 2.24511 11.7131 2.36369 11.9691 2.46158C12.306 2.59334 12.5469 2.74958 12.8011 3.00275C13.0542 3.25593 13.2105 3.49687 13.3413 3.83475C13.4411 4.08887 13.5578 4.47287 13.5907 5.17781C13.6255 5.94016 13.6321 6.16887 13.6321 8.10016C13.6321 10.0315 13.6255 10.2602 13.5907 11.0225C13.5587 11.7284 13.4401 12.1115 13.3413 12.3656C13.2095 12.7044 13.0533 12.9444 12.8011 13.1966C12.5675 13.4367 12.2832 13.6216 11.9691 13.7378C11.7149 13.8376 11.3309 13.9543 10.626 13.9872C9.86364 14.022 9.634 14.0286 7.7027 14.0286C5.77141 14.0286 5.54364 14.022 4.78129 13.9872ZM4.72106 0.912399C3.95117 0.947223 3.42506 1.06958 2.96576 1.24746C2.48319 1.42934 2.04606 1.71423 1.68482 2.08228C1.282 2.48416 1.03541 2.88699 0.849997 3.36322C0.671174 3.82252 0.548821 4.34863 0.514938 5.11852C0.479174 5.89028 0.470703 6.13593 0.470703 8.10016C0.470703 10.0644 0.479174 10.311 0.514938 11.0818C0.549762 11.8517 0.672115 12.3778 0.849997 12.8371C1.03541 13.3124 1.28294 13.7162 1.68482 14.118C2.0867 14.5199 2.48953 14.7675 2.96576 14.9529C3.42694 15.1317 3.95117 15.254 4.72106 15.2879C5.49282 15.3237 5.73941 15.3322 7.7027 15.3322C9.66694 15.3322 9.91447 15.3237 10.6844 15.2879C11.4552 15.2531 11.9804 15.1308 12.4406 14.9529C12.9227 14.7706 13.3594 14.4858 13.7206 14.118C14.1244 13.7162 14.37 13.3124 14.5554 12.838C14.7342 12.3769 14.8566 11.8517 14.8914 11.0818C14.9262 10.31 14.9347 10.0644 14.9347 8.10016C14.9347 6.13593 14.9262 5.88934 14.8914 5.11852C14.8566 4.34863 14.7342 3.82252 14.5554 3.36322C14.3735 2.88087 14.089 2.4438 13.7215 2.08228C13.3608 1.7141 12.9239 1.42919 12.4415 1.24746C11.9804 1.06863 11.4542 0.946282 10.6853 0.912399C9.91353 0.876635 9.66788 0.868164 7.70364 0.868164C5.73941 0.868164 5.49282 0.876635 4.72106 0.912399Z" fill="#F75274"/>
            </g>
            <defs>
              <clipPath id="clip0_97_1921">
                <rect width="16" height="16" fill="white" transform="translate(0 0.100098)"/>
              </clipPath>
            </defs>
          </svg>
          {% comment %}
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="19.5" stroke="currentColor"/><path fill="currentColor" d="M23.6 14h-7.2a2.4 2.4 0 0 0-2.4 2.4v7.2a2.4 2.4 0 0 0 2.4 2.4h7.2a2.4 2.4 0 0 0 2.4-2.4v-7.2a2.4 2.4 0 0 0-2.4-2.4Zm-1.2 1.8h1.8v1.8h-1.8v-1.8ZM20 17.6a2.4 2.4 0 1 1 0 4.8 2.4 2.4 0 0 1 0-4.8Zm4.8 6a1.2 1.2 0 0 1-1.2 1.2h-7.2a1.2 1.2 0 0 1-1.2-1.2v-4.2h1.26a3.6 3.6 0 1 0 7.08 0h1.26v4.2Z"/>
            </svg>
          {% endcomment %}
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.instagram' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.twitter != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.twitter }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.twitter' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9184 14H14.066L18.5298 20.6281L14 26H15.5877L19.2347 21.6747L22.1476 26H26L21.3764 19.1347L25.7059 14H24.1183L20.6714 18.0879L17.9184 14ZM19.4993 19.9239L16.2821 15.2286H17.2134L19.9508 19.2237L20.3878 19.8614L23.7755 24.8054H22.8442L19.9793 20.6242L19.4993 19.9239Z" fill="currentColor"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.twitter' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.tiktok != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.tiktok }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.instagram' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/><path fill="currentColor" d="M17.989 26a4.075 4.075 0 0 1-2.82-1.122A3.753 3.753 0 0 1 14 22.171c0-1.016.42-1.99 1.168-2.708a4.075 4.075 0 0 1 2.82-1.121h.974v1.869h-.973c-.405 0-.8.115-1.137.33a1.983 1.983 0 0 0-.753.882 1.891 1.891 0 0 0-.117 1.134c.08.381.274.731.56 1.006.286.274.65.461 1.048.537.396.076.808.037 1.181-.112.374-.148.694-.4.918-.723.225-.323.345-.702.345-1.09V14h1.947v.934c0 .52.215 1.02.599 1.388a2.09 2.09 0 0 0 1.446.576H25v1.865h-.98a4.07 4.07 0 0 1-2.046-.546v3.954a3.756 3.756 0 0 1-1.168 2.705A4.078 4.078 0 0 1 17.989 26Z"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.tiktok' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.youtube != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.youtube }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.instagram' | t }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17" fill="none">
            <g clip-path="url(#clip0_97_1933)">
              <path d="M0.416992 8.85033V7.35009C0.416992 4.27904 0.416992 2.74398 1.2264 1.75668C2.03676 0.768448 3.31205 0.726095 5.86076 0.640448C7.06829 0.599036 8.30217 0.570801 9.35817 0.570801C10.4142 0.570801 11.649 0.599036 12.8565 0.640448C15.4052 0.725154 16.6805 0.768448 17.4899 1.75668C18.2993 2.74492 18.2993 4.27904 18.2993 7.35009V8.85033C18.2993 11.9204 18.2993 13.4564 17.4899 14.4437C16.6805 15.432 15.4062 15.4743 12.8565 15.56C11.649 15.6004 10.4142 15.6296 9.35817 15.6296C8.30217 15.6296 7.06829 15.6014 5.86076 15.56C3.31111 15.4753 2.03676 15.432 1.22735 14.4437C0.417933 13.4555 0.417933 11.9214 0.417933 8.85033" fill="#FF0003"/>
              <path d="M11.9126 8.10014L8.08203 11.1119V5.08838L11.9126 8.10014Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_97_1933">
                <rect width="18.8235" height="16" fill="white" transform="translate(0.223145 0.100098)"/>
              </clipPath>
            </defs>
          </svg>
          {% comment %}
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="19.5" stroke="currentColor"/><path fill="currentColor" d="M26.988 16.565a1.79 1.79 0 0 0-1.259-1.26C24.612 15 20.141 15 20.141 15s-4.47 0-5.588.294c-.6.165-1.094.659-1.259 1.27C13 17.683 13 20 13 20s0 2.33.294 3.435a1.79 1.79 0 0 0 1.259 1.26c1.13.305 5.588.305 5.588.305s4.47 0 5.588-.294a1.79 1.79 0 0 0 1.26-1.259c.293-1.118.293-3.435.293-3.435s.012-2.33-.294-3.447Zm-8.27 5.576V17.86L22.435 20l-3.717 2.141Z"/>
            </svg>
          {% endcomment %}
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.youtube' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.pinterest != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.pinterest }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.pinterest' | t }}"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" fill="none">
            <g clip-path="url(#clip0_97_1927)">
              <path d="M5.11952 0.62145C2.7054 0.900038 0.301636 2.92357 0.202813 5.81674C0.141636 7.58239 0.62446 8.90757 2.24422 9.27933C2.94728 7.99274 2.01834 7.70945 1.8734 6.77863C1.27952 2.96498 6.11434 0.363567 8.64423 3.02616C10.3948 4.87086 9.24187 10.5424 6.41834 9.95321C3.71528 9.38945 7.74352 4.87463 5.58352 3.9871C3.82917 3.26616 2.89646 6.19133 3.7294 7.64357C3.23999 10.1424 2.19058 12.4953 2.61505 15.6294C3.99387 14.5913 4.45975 12.6036 4.83999 10.5302C5.53364 10.9669 5.90352 11.4215 6.78822 11.492C10.0494 11.7537 11.8706 8.1151 11.4254 4.75792C11.031 1.78286 8.16705 0.26945 5.11764 0.62145" fill="#FF0003"/>
            </g>
            <defs>
              <clipPath id="clip0_97_1927">
                <rect width="12.2353" height="16" fill="white" transform="translate(-0.00244141 0.100098)"/>
              </clipPath>
            </defs>
          </svg>
          {% comment %}
            <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
              <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
              <path d="M20.1674 14C16.7934 14.0005 15 16.108 15 18.4061C15 19.4716 15.6108 20.8011 16.5888 21.2226C16.8678 21.3451 16.8309 21.1956 17.0709 20.3006C17.0899 20.2261 17.0801 20.1616 17.0186 20.0921C15.6205 18.5156 16.7457 15.2745 19.9679 15.2745C24.6313 15.2745 23.7599 21.5656 20.7793 21.5656C20.011 21.5656 19.4387 20.9776 19.6197 20.2501C19.8392 19.3836 20.269 18.4521 20.269 17.8276C20.269 16.2535 17.8637 16.487 17.8637 18.5726C17.8637 19.2171 18.0976 19.6521 18.0976 19.6521C18.0976 19.6521 17.3237 22.7001 17.1801 23.2696C16.937 24.2336 17.2129 25.7942 17.237 25.9287C17.2519 26.0027 17.337 26.0262 17.3847 25.9652C17.4612 25.8677 18.3966 24.5667 18.6586 23.6261C18.754 23.2836 19.1453 21.8936 19.1453 21.8936C19.4033 22.3476 20.1469 22.7276 20.9393 22.7276C23.2963 22.7276 25 20.7076 25 18.2011C24.9918 15.798 22.8825 14 20.1674 14Z" fill="currentColor"/>
            </svg>
          {% endcomment %}
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.pinterest' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.vimeo != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.vimeo }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.vimeo' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path d="M20.8883 17.2292C22.4537 16.2892 23.2975 17.6141 22.495 19.1117C21.6908 20.6153 20.9527 21.5956 20.5704 21.5956C20.1949 21.5956 19.8976 20.5869 19.4577 18.8359C19.0066 17.0221 19.0066 13.752 17.1198 14.1232C15.3362 14.4754 13 17.2678 13 17.2678L13.555 17.999C13.555 17.999 14.7064 17.0908 15.0896 17.5428C15.4779 17.999 16.948 23.4772 17.4343 24.4902C17.8587 25.3778 19.0367 26.5489 20.3238 25.7137C21.6229 24.8734 25.9111 21.2115 26.6792 16.8786C27.4456 12.5534 21.5103 13.459 20.8883 17.2292Z" fill="currentColor"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.vimeo' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.linkedin != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.linkedin }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.linkedin' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path d="M26.0001 25.9999V21.6049C26.0001 19.4449 25.5351 17.7949 23.0151 17.7949C21.8001 17.7949 20.9901 18.4549 20.6601 19.0849H20.6301V17.9899H18.2451V25.9999H20.7351V22.0249C20.7351 20.9749 20.9301 19.9699 22.2201 19.9699C23.4951 19.9699 23.5101 21.1549 23.5101 22.0849V25.9849H26.0001V25.9999Z" fill="currentColor"/>
            <path d="M14.1948 17.9902H16.6848V26.0002H14.1948V17.9902Z" fill="currentColor"/>
            <path d="M15.44 14C14.645 14 14 14.645 14 15.44C14 16.235 14.645 16.895 15.44 16.895C16.235 16.895 16.88 16.235 16.88 15.44C16.88 14.645 16.235 14 15.44 14Z" fill="currentColor"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.linkedin' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.whatsapp != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.whatsapp }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.whatsapp' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2516 15.7439C23.1236 14.6199 21.6233 14.0007 20.0251 14C16.7317 14 14.0514 16.6674 14.0501 19.9459C14.0497 20.9939 14.3248 22.0169 14.8477 22.9187L14 26L17.1674 25.1731C18.0402 25.6469 19.0227 25.8966 20.0227 25.8969H20.0252C23.3181 25.8969 25.9987 23.2292 26 19.9506C26.0007 18.3617 25.3797 16.8678 24.2516 15.7439ZM20.0251 24.8927H20.023C19.132 24.8923 18.258 24.654 17.4954 24.2037L17.3142 24.0966L15.4346 24.5873L15.9363 22.7635L15.8181 22.5765C15.321 21.7896 15.0585 20.8801 15.0589 19.9462C15.06 17.2213 17.2878 15.0043 20.0271 15.0043C21.3535 15.0047 22.6005 15.5195 23.538 16.4537C24.4756 17.3879 24.9917 18.6296 24.9912 19.9503C24.9901 22.6755 22.7624 24.8927 20.0251 24.8927ZM22.7491 21.1911C22.5999 21.1167 21.8658 20.7573 21.729 20.7077C21.5922 20.6581 21.4926 20.6334 21.3931 20.7821C21.2936 20.9308 21.0075 21.2655 20.9204 21.3646C20.8332 21.4637 20.7462 21.4762 20.5969 21.4018C20.4476 21.3274 19.9666 21.1705 19.3963 20.6643C18.9525 20.2703 18.6529 19.7838 18.5658 19.6351C18.4788 19.4863 18.5651 19.4136 18.6313 19.3319C18.7929 19.1322 18.9547 18.9228 19.0045 18.8237C19.0543 18.7245 19.0294 18.6377 18.992 18.5634C18.9547 18.489 18.6562 17.7577 18.5318 17.4601C18.4105 17.1705 18.2875 17.2096 18.1958 17.2051C18.1088 17.2008 18.0093 17.1999 17.9097 17.1999C17.8102 17.1999 17.6484 17.237 17.5116 17.3858C17.3747 17.5346 16.9891 17.894 16.9891 18.6253C16.9891 19.3566 17.5241 20.0631 17.5987 20.1623C17.6733 20.2615 18.6515 21.7622 20.149 22.4057C20.5052 22.5589 20.7833 22.6503 21.0001 22.7188C21.3578 22.8318 21.6832 22.8159 21.9405 22.7776C22.2273 22.7349 22.8237 22.4182 22.9482 22.0711C23.0726 21.724 23.0726 21.4266 23.0352 21.3646C22.9979 21.3026 22.8984 21.2655 22.7491 21.1911Z" fill="currentColor"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.whatsapp' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.tumblr != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.tumblr }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.tumblr' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path d="M22.1125 24.0077C21.3891 24.1547 20.3052 24.0086 20.2063 23.1168C20.0857 22.5612 20.1658 19.5018 20.1441 18.9728H22.8376V17.1081H20.1441V14H18.4036C18.3829 14.1035 18.3829 14.1865 18.3621 14.2901C18.1948 15.6323 17.2989 16.8111 16 17.2115V18.9727H17.2432C17.267 20.65 17.1895 22.3354 17.2846 24.0076C17.3468 24.3805 17.5747 24.6913 17.8234 24.9607C18.6095 25.7861 19.6972 26.0323 20.8071 25.9967C21.6564 26.0188 22.4507 25.6954 23.252 25.4165V23.5311C22.8584 23.7798 22.5476 23.9042 22.1125 24.0077Z" fill="currentColor"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.tumblr' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    {%- if settings.snapchat != blank -%}
      <li class="list-social__item inline-flex">
        <a
          href="{{ settings.snapchat }}"
          class="w-40 h-40 inline-flex hover-heading-color content-center tooltip relative"
          target="_blank"
          aria-label="{{ 'general.social.links.snapchat' | t }}"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/><path fill="currentColor" d="M26.549 22.96c-1.712-.28-2.483-2.034-2.514-2.108l-.007-.014c-.087-.178-.108-.324-.06-.436.093-.219.452-.332.689-.408.068-.021.133-.042.187-.063.233-.092.4-.192.51-.305a.485.485 0 0 0 .155-.348c-.004-.205-.16-.388-.41-.476a.743.743 0 0 0-.28-.053.62.62 0 0 0-.258.053c-.2.093-.38.144-.534.152a.49.49 0 0 1-.177-.039l.015-.247.003-.037c.055-.866.123-1.944-.163-2.584a3.476 3.476 0 0 0-.784-1.12 3.275 3.275 0 0 0-.936-.618A3.702 3.702 0 0 0 20.523 14h-.032l-.22.002c-.284 0-.853.04-1.463.31-.35.153-.663.36-.934.616a3.487 3.487 0 0 0-.78 1.118c-.286.64-.218 1.717-.164 2.583v.001l.018.284a.513.513 0 0 1-.21.04c-.162 0-.354-.052-.57-.153a.512.512 0 0 0-.217-.045.766.766 0 0 0-.383.107.53.53 0 0 0-.271.347c-.017.09-.017.268.182.448.11.1.27.192.477.273.054.022.119.042.187.063.237.076.596.19.69.408.047.112.026.258-.061.436l-.007.014a4.236 4.236 0 0 1-.645.997c-.237.276-.499.507-.777.686-.34.22-.707.362-1.092.425a.299.299 0 0 0-.25.312.379.379 0 0 0 .03.13v.001c.062.143.204.264.434.37.282.131.703.24 1.252.326.028.053.057.185.077.275.02.096.042.196.074.3.033.114.12.25.343.25.085 0 .181-.02.294-.04a2.917 2.917 0 0 1 1.151-.035c.314.051.585.241.897.462.458.323.976.689 1.768.689.022 0 .043 0 .065-.002l.092.002c.792 0 1.31-.366 1.768-.688.314-.22.584-.411.898-.463.162-.027.324-.041.48-.041.268 0 .481.034.67.071.125.024.22.036.295.036h.015c.163 0 .283-.09.329-.245.03-.104.052-.2.073-.298.018-.085.049-.22.076-.274.55-.086.97-.195 1.252-.325.23-.107.371-.227.433-.37a.38.38 0 0 0 .032-.132.298.298 0 0 0-.25-.31Z"/>
          </svg>
          <span class="tooltip-content invisible rounded-3 absolute pointer-none tooltip-bottom">
            {{- 'general.social.links.snapchat' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}
