{%- liquid
  comment
    Try multiple methods to get the menu:
    1. Use passed section parameter from theme.liquid
    2. Try to find from sections (if available)
    3. Try section_groups
    4. As last resort, try common menu handles from linklists
  endcomment
  assign menu_links = null
  assign horizontal_menu_section = null
  assign title = 'Menu'
  
  comment Method 1: Use passed section parameter if available
  endcomment
  if horizontal_menu_section != null and horizontal_menu_section.settings.mega_menu != blank
    assign menu_links = horizontal_menu_section.settings.mega_menu.links
  endif
  
  comment Method 2: Try to find header-mega-store section from sections (if available)
  endcomment
  if menu_links == null
    for section_item in sections
      if section_item.type == 'header-mega-store' and section_item.settings.mega_menu != blank
        assign horizontal_menu_section = section_item
        assign menu_links = section_item.settings.mega_menu.links
        break
      endif
    endfor
  endif
  
  comment Method 3: Try section_groups (header-group)
  endcomment
  if menu_links == null
    for section_group in section_groups
      if section_group.name == 'header-group'
        for section_item in section_group.sections
          if section_item.type == 'header-mega-store' and section_item.settings.mega_menu != blank
            assign horizontal_menu_section = section_item
            assign menu_links = section_item.settings.mega_menu.links
            break
          endif
        endfor
      endif
    endfor
  endif
  
  comment Method 4: Try common menu handles as fallback
  endcomment
  if menu_links == null
    if linklists.main-menu != blank
      assign menu_links = linklists.main-menu.links
    elsif linklists.mega-menu != blank
      assign menu_links = linklists.mega-menu.links
    elsif linklists.menu != blank
      assign menu_links = linklists.menu.links
    endif
  endif
  
  if horizontal_menu_section != null
    assign horizontal_section_st = horizontal_menu_section.settings
    assign theme_st = settings
    assign section_width = horizontal_section_st.section_width | default: 'container'
    assign uppercase_first = horizontal_section_st.uppercase_first | default: false
  else
    assign horizontal_section_st = null
    assign theme_st = settings
    assign section_width = 'container'
    assign uppercase_first = false
  endif
-%}
{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<div class="verticalmenu-desktop vertical-menu fixed color-default" data-title="{{ title }}">
  <div
    class="navigation vertical"
    {% if horizontal_menu_section != null %}
      style="
        --hot-cl: {{ horizontal_section_st.label_color_hot }};--hot-bg-cl: {{ horizontal_section_st.label_background_hot }};
        --new-cl: {{ horizontal_section_st.label_color_new }};--new-bg-cl: {{ horizontal_section_st.label_background_new }};
        --sale-cl: {{ horizontal_section_st.label_color_sale }};;--sale-bg-cl: {{ horizontal_section_st.label_background_sale }};
        --popular-cl: {{ horizontal_section_st.label_color_popular }};;--popular-bg-cl: {{ horizontal_section_st.label_background_popular }};
        {% if horizontal_section_st.submenu_background %}--gradient-background: {{ horizontal_section_st.submenu_background }};--color-background: {{ horizontal_section_st.submenu_background }};{% endif %}{% if horizontal_section_st.submenu_color %}--color-link: {{ horizontal_section_st.submenu_color }};--color-heading: {{ horizontal_section_st.submenu_color }};{% endif %}
      "
    {% endif %}
  >
    <div class="desktop-menu-content reset-color-on-menu">
      <div class="title-menu-dropdown h-44 w-full align-center hidden" style="--color-background: {{ section_st.background_categories }}">
        <div class="toggle-vertical inline-flex pointer align-center gap-10">
          <span>{{ title | default: 'Menu' }}</span>
        </div>
      </div>
      <div class="verticalmenu-html">
        <ul class="list-none verticalmenu-list">
          {%- if menu_links != null -%}
            {%- for link in menu_links -%}
              {%- liquid
                assign last_block = null
                assign link_title = link.title
                assign has_icon = false
                assign icon_html = ''
                
                if horizontal_menu_section != null
                  assign title = link.title | downcase
                  for block in horizontal_menu_section.blocks
                    assign text = block.settings.text | downcase
                    if text == title
                      assign last_block = block
                    endif
                  endfor
                else
                  assign link_title_checked = link.title | downcase
                  for block in section.blocks
                    assign text = block.settings.text | downcase
                    if text == link_title_checked
                      assign last_block = block
                    endif
                  endfor
                  for i in (1..10)
                    assign icon_placeholder = '[icon_' | append: i | append: ']'
                    assign icon_setting = 'icon_' | append: i
                    if link_title contains icon_placeholder and section_st[icon_setting] != blank
                      assign has_icon = true
                      assign icon_html = section_st[icon_setting]
                      assign link_title = link.title | replace: icon_placeholder, ''
                    endif
                  endfor
                endif
              -%}
            {% if last_block != null %}
              {%- liquid
                assign block_st = last_block.settings
                assign has_content = false
                assign mega_custom_width = block_st.mega_custom_width
              -%}
              {%- case last_block.type -%}
                {%- when 'menu_promotion' -%}
                  {%- liquid
                    if block_st.promotion_image_1 != blank
                      assign has_content = true
                    endif
                  -%}
                {% else %}
                  {%- liquid
                    if block_st.product_1 != blank
                      assign has_content = true
                    endif
                  -%}
              {%- endcase -%}
              {%- capture menu_level_0 -%}
                <menu-item class="menu-item__first relative flex align-center flex-1">
                  <a class="no-underline flex align-center nav-link" href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% else %}
                      <span class="menu-icon-first-letter flex-1 text-center">
                        {{ link_title | strip | first | upcase }}
                      </span>
                    {% endif %}
                    <span class="menu-text inline-flex">{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle class="inline-flex flex-end align-center pointer ms-5{% if section_st.redirect_to_link == blank %} absolute inset-0{% else %} touch-target-mb{% endif %}">
                      <svg class="icon-down hidden no-hidden" width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
              {%- endcapture -%}
              <li
                {{ block.shopify_attributes }}
                class="level0 relative{% if link.links.size or has_content %} menu-parent menu-parent__vertical mega-menu{% else %} single{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{ menu_level_0 }}
                {%- if link.links.size > 0 or has_content -%}
                  <div
                    class="custom-scrollbar submenu submenu-vertical__mega absolute gradient p-0 mega-menu-custom-width overflow-x-hidden"
                    style="--mega_custom_width: {{ mega_custom_width }}px"
                  >
                    <div class="grey-bg px-30 border-bottom flex gap-15 align-center justify-between{% if theme_st.menu_font == 'heading_font' %} heading-style{% endif %}">
                      <back-menu
                        class="py-10 min-h-55 inline-flex gap-20 align-center fs-big-1 heading-style"
                        role="link"
                      >
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div class="flex align-center gap-10">
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu class="close-menu lh-1 ms-10">
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    <div class="{% if full_width %}{% if section_width == 'container' %}container{% else %}fluid_container{% endif %}{% else %}stretch_width{% endif %}">
                      {%- case last_block.type -%}
                        {%- when 'menu_promotion' -%}
                          {% assign banner_count = 0 %}
                          {%- if block_st.promotion_image_1 != blank -%}
                            {% assign banner_count = banner_count | plus: 1 %}
                          {%- endif -%}
                          <div
                            class="vertical-block__promotion promotion-{{ block_st.promotion_style }} flex flex-column gap"
                            style="--col-mega-width: {% if block_st.promotion_style == 'horizontal' %}{{ block_st.promotion_image_width }}{% else %}0{% endif %}%; --col-gap: 30px"
                          >
                            {% if link.links.size > 0 %}
                              <div
                                class="menu-list"
                                style="--row-gap: 40px; --col-desktop:{{ block_st.promotion_menu_column }};"
                              >
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if block_st.promotion_image_1 != blank or block_st.promotion_image_2 != blank -%}
                              <div class="col-mega">
                                <div  
                                  class="grid grid-cols gap-20 px-30 {{ settings.hover_effect }}"
                                  style="--col-number: {{ banner_count }}"
                                >
                                  {%- if block_st.promotion_image_1 != blank -%}
                                    {%- assign banner_alt = block_st.promotion_image_1.alt
                                      | default: link.title
                                      | escape
                                    -%}
                                    <a
                                      {% if block_st.promotion_link_1 == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        aria-label="{{ link.title }}" href="{{ block_st.promotion_link_1 }}"
                                      {% endif %}
                                      {% if block_st.promotion_link_newtab_1 != blank %}
                                        target="_blank"
                                      {% endif %}
                                      class="rounded"
                                      style="--aspect-ratio: {{ block_st.promotion_image_1.aspect_ratio}}"
                                    >
                                      {% render 'responsive-image',
                                        type: banner,
                                        container: section_width,
                                        image: block_st.promotion_image_1,
                                        image_alt: banner_alt,
                                        colunm: colunm,
                                        colunm_mobile: colunm_mobile,
                                        padding: 20,
                                        sizes: '(min-width: 1200px) 450px, 360px',
                                        class: 'rounded'
                                      %}
                                    </a>
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {% else %}
                          {% assign product_count = 0 %}
                          {%- liquid
                            if block_st.product_1 != blank
                              assign product_count = product_count | plus: 1
                            endif
                          -%}
                          <div
                            class="flex flex-column gap-30 vertical-block__product"
                            style="--col-mega-width: {{ block_st.product_width }}%"
                          >
                            {% if link.links.size > 0 %}
                              <div
                                class="menu-list"
                                style="--row-gap: 40px; --col-desktop:{{ block_st.product_menu_column }};"
                              >
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if product_count > 0 -%}
                              <div class="col-mega">
                                <div
                                  class="grid grid-cols gap-20 px-30"
                                  style="--col-number: {{ product_count }}"
                                >
                                  <span class="menu-title-product title-child__menu menu_item-link no-underline heading-style py-10 min-h-55 inline-flex align-center">
                                    {{ block_st.product_title }}
                                  </span>
                                  {% render 'product-item',
                                    card_product: block_st.product_1,
                                    template_enable_product_vendor: false,
                                    template_enable_rate: true,
                                    template_enable_product_short_description: false,
                                    template_enable_color_swatches: true,
                                    type: 'grid',
                                    template_enable_action: true,
                                    template_enable_product_badges: true,
                                    template_enable_price: true
                                  %}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>

                      {%- endcase -%}
                    </div>
                  </div>
                {%- endif -%}
              </li>
            {% else %}
              {% liquid
                assign has_children = false
                for child_link in link.links
                  if child_link.links.size > 0
                    assign has_children = true
                  endif
                endfor
              %}
              <li
                {{ block.shopify_attributes }}
                class="{% if has_children == false %}no-submenu__child {% endif %}level0{% if link.links.size %} menu-parent menu-parent__vertical dropdown-vertical{% else %} single{% endif %}"
                {{ block.shopify_attributes }}
              >
                <menu-item class="menu-item__first relative flex align-center flex-1">
                  <a class="no-underline flex align-center nav-link" href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% else %}
                      <span class="menu-icon-first-letter flex-1 text-center">
                        {{ link_title | strip | first | upcase }}
                      </span>
                    {% endif %}
                    <span class="menu-text inline-flex">{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle class="inline-flex flex-end align-center ms-5{% if section_st.redirect_to_link == blank %} absolute inset-0{% else %} touch-target-mb{% endif %}">
                      <svg class="icon-down hidden no-hidden" width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
                {%- if link.links.size > 0 -%}
                  <div class="submenu submenu-vertical color-default custom-scrollbar">
                    <div class="grey-bg px-30 border-bottom flex gap-15 align-center justify-between{% if theme_st.menu_font == 'heading_font' %} heading-style{% endif %}">
                      <back-menu
                        class="py-10 min-h-55 inline-flex gap-20 align-center fs-big-1 heading-style"
                        role="link"
                      >
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div class="flex align-center gap-10">
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu class="close-menu lh-1 ms-10">
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop', type_menu: 'mega' -%}
                  </div>
                {%- endif -%}
              </li>
            {% endif %}
          {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="vertical-menu-overlay-desktop"></div>
