{%- liquid
  assign menu_links = null
  assign horizontal_menu_section = null
  assign title = 'Menu'

  if menu_links == null
    if linklists.main-menu != blank
      assign menu_links = linklists.main-menu.links
    elsif linklists.mega-menu != blank
      assign menu_links = linklists.mega-menu.links
    elsif linklists.menu != blank
      assign menu_links = linklists.menu.links
    endif
  endif
  
  if horizontal_menu_section != null
    assign horizontal_section_st = horizontal_menu_section.settings
    assign theme_st = settings
    assign section_width = horizontal_section_st.section_width | default: 'container'
    assign uppercase_first = horizontal_section_st.uppercase_first | default: false
  else
    assign horizontal_section_st = null
    assign theme_st = settings
    assign section_width = 'container'
    assign uppercase_first = false
  endif
-%}
{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<div class="verticalmenu-desktop vertical-menu fixed color-default nav-skin" data-title="{{ title }}">
  <div
    class="navigation vertical"
    {% if horizontal_menu_section != null %}
      style="
        --hot-cl: {{ horizontal_section_st.label_color_hot }};--hot-bg-cl: {{ horizontal_section_st.label_background_hot }};
        --new-cl: {{ horizontal_section_st.label_color_new }};--new-bg-cl: {{ horizontal_section_st.label_background_new }};
        --sale-cl: {{ horizontal_section_st.label_color_sale }};;--sale-bg-cl: {{ horizontal_section_st.label_background_sale }};
        --popular-cl: {{ horizontal_section_st.label_color_popular }};;--popular-bg-cl: {{ horizontal_section_st.label_background_popular }};
        {% if horizontal_section_st.submenu_background %}--gradient-background: {{ horizontal_section_st.submenu_background }};--color-background: {{ horizontal_section_st.submenu_background }};{% endif %}{% if horizontal_section_st.submenu_color %}--color-link: {{ horizontal_section_st.submenu_color }};--color-heading: {{ horizontal_section_st.submenu_color }};{% endif %}
      "
    {% endif %}
  >
    <div class="desktop-menu-content reset-color-on-menu">
      <div class="title-menu-dropdown h-44 w-full align-center hidden" style="--color-background: {{ section_st.background_categories }}">
        <div class="header-left">
          <div class="header-back" role="button" aria-label="Back">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none">
              <use href="#icon-back"></use>
            </svg>
          </div>
          <div class="toggle-vertical inline-flex pointer align-center gap-10">
            <span>{{ title | default: 'Menu' }}</span>
          </div>
        </div>
        <close-menu class="close-menu-header">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
            <use href="#icon-close" />
          </svg>
        </close-menu>
      </div>
        <ul class="horizontal-list list-unstyled inline-flex-1025 flex-wrap row-gap-0 horizontal px-30 px-1025-0 show-localization">
          {%- if menu_links != null and menu_links.size > 0 -%}
            {%- for link in menu_links -%}
              {%- liquid
                assign last_block = null
                assign link_title = link.title
                assign has_icon = false
                assign icon_html = ''
                
                if horizontal_menu_section != null
                  assign title = link.title | downcase
                  for block in horizontal_menu_section.blocks
                    assign text = block.settings.text | downcase
                    if text == title
                      assign last_block = block
                    endif
                  endfor
                else
                  if horizontal_menu_section != null
                    assign link_title_checked = link.title | downcase
                    for block in horizontal_menu_section.blocks
                      assign text = block.settings.text | downcase
                      if text == link_title_checked
                        assign last_block = block
                      endif
                    endfor
                  endif
                endif
              -%}
              {% if last_block != null %}
              {%- liquid
                assign block_st = last_block.settings
                assign has_content = false
                assign mega_custom_width = block_st.mega_custom_width
              -%}
              {%- case last_block.type -%}
                {%- when 'menu_promotion' -%}
                  {%- liquid
                    if block_st.promotion_image_1 != blank
                      assign has_content = true
                    endif
                  -%}
                {% else %}
                  {%- liquid
                    if block_st.product_1 != blank
                      assign has_content = true
                    endif
                  -%}
              {%- endcase -%}
              {%- capture menu_level_0 -%}
                <menu-item>
                  <a href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% endif %}
                    <span>{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle>
                      <svg width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
              {%- endcapture -%}
              <li class="level0{% if link.links.size or has_content %} menu-parent menu-parent__horizontal mega-menu{% else %} single{% endif %}">
                {{ menu_level_0 }}
                {%- if link.links.size > 0 or has_content -%}
                  <div class="custom-scrollbar submenu submenu-horizontal submenu-vertical-desktop invisible-1025 absolute gradient p-0 py-1025-40 mega-menu-custom-width overflow-x-hidden" style="--mega_custom_width: {{ mega_custom_width }}px">
                    <div class="hidden-1025 grey-bg px-30 border-bottom flex gap-15 align-center justify-between{% if theme_st.menu_font == 'heading_font' %} heading-style{% endif %}">
                      <back-menu role="link">
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div>
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    <div>
                      {%- case last_block.type -%}
                        {%- when 'menu_promotion' -%}
                          {% assign banner_count = 0 %}
                          {%- if block_st.promotion_image_1 != blank -%}
                            {% assign banner_count = banner_count | plus: 1 %}
                          {%- endif -%}
                          <div style="--col-mega-width: {% if block_st.promotion_style == 'horizontal' %}{{ block_st.promotion_image_width }}{% else %}0{% endif %}%; --col-gap: 30px">
                            {% if link.links.size > 0 %}
                              <div style="--row-gap: 40px; --col-desktop:{{ block_st.promotion_menu_column }};">
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if block_st.promotion_image_1 != blank or block_st.promotion_image_2 != blank -%}
                              <div>
                                <div style="--col-number: {{ banner_count }}">
                                  {%- if block_st.promotion_image_1 != blank -%}
                                    {%- assign banner_alt = block_st.promotion_image_1.alt
                                      | default: link.title
                                      | escape
                                    -%}
                                    <a
                                      {% if block_st.promotion_link_1 == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        aria-label="{{ link.title }}" href="{{ block_st.promotion_link_1 }}"
                                      {% endif %}
                                      {% if block_st.promotion_link_newtab_1 != blank %}
                                        target="_blank"
                                      {% endif %}
                                      style="--aspect-ratio: {{ block_st.promotion_image_1.aspect_ratio}}"
                                    >
                                      {% render 'responsive-image',
                                        type: banner,
                                        container: section_width,
                                        image: block_st.promotion_image_1,
                                        image_alt: banner_alt,
                                        colunm: colunm,
                                        colunm_mobile: colunm_mobile,
                                        padding: 20,
                                        sizes: '(min-width: 1200px) 450px, 360px',
                                        class: 'rounded'
                                      %}
                                    </a>
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {% else %}
                          {% assign product_count = 0 %}
                          {%- liquid
                            if block_st.product_1 != blank
                              assign product_count = product_count | plus: 1
                            endif
                          -%}
                          <div style="--col-mega-width: {{ block_st.product_width }}%">
                            {% if link.links.size > 0 %}
                              <div style="--row-gap: 40px; --col-desktop:{{ block_st.product_menu_column }};">
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if product_count > 0 -%}
                              <div>
                                <div style="--col-number: {{ product_count }}">
                                  <span>
                                    {{ block_st.product_title }}
                                  </span>
                                  {% render 'product-item',
                                    card_product: block_st.product_1,
                                    template_enable_product_vendor: false,
                                    template_enable_rate: true,
                                    template_enable_product_short_description: false,
                                    template_enable_color_swatches: true,
                                    type: 'grid',
                                    template_enable_action: true,
                                    template_enable_product_badges: true,
                                    template_enable_price: true
                                  %}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>

                      {%- endcase -%}
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              </li>
            {% else %}
              {% liquid
                assign has_children = false
                for child_link in link.links
                  if child_link.links.size > 0
                    assign has_children = true
                  endif
                endfor
              %}
              <li class="level0{% if link.links.size > 0 %} menu-parent menu-parent__horizontal dropdown-menu{% else %} single{% endif %}">
                <menu-item>
                  <a href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% endif %}
                    <span>{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle>
                      <svg width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
                {%- if link.links.size > 0 -%}
                  <div class="submenu submenu-horizontal submenu-vertical-desktop invisible-1025 absolute gradient color-default">
                    <div class="hidden-1025 grey-bg px-30 border-bottom flex gap-15 align-center justify-between{% if theme_st.menu_font == 'heading_font' %} heading-style{% endif %}">
                      <back-menu role="link">
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div>
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop', type_menu: 'mega' -%}
                  </div>
                {%- endif -%}
              </li>
            {% endif %}
          {%- endfor -%}
          {%- endif -%}
          </ul>
        </div>
    </div>
  </div>
<div class="vertical-menu-overlay-desktop"></div>
