{%- liquid
  comment
    Try multiple methods to get the menu:
    1. Use passed section parameter from theme.liquid
    2. Try to find from sections (if available)
    3. Try section_groups
    4. As last resort, try common menu handles from linklists
  endcomment
  assign menu_links = null
  assign horizontal_menu_section = null
  assign title = 'Menu'
  assign method_used = 'none'
  
  comment Method 1: Use passed section parameter if available
  endcomment
  if horizontal_menu_section != null and horizontal_menu_section.settings.mega_menu != blank
    assign menu_links = horizontal_menu_section.settings.mega_menu.links
    assign method_used = 'method-1-passed-parameter'
  endif
  
  comment Method 2: Try to find header-mega-store section from sections (if available)
  endcomment
  if menu_links == null
    for section_item in sections
      if section_item.type == 'header-mega-store' and section_item.settings.mega_menu != blank
        assign horizontal_menu_section = section_item
        assign menu_links = section_item.settings.mega_menu.links
        assign method_used = 'method-2-sections-array'
        break
      endif
    endfor
  endif
  
  comment Method 3: Try section_groups (header-group)
  endcomment
  if menu_links == null
    for section_group in section_groups
      if section_group.name == 'header-group'
        for section_item in section_group.sections
          if section_item.type == 'header-mega-store' and section_item.settings.mega_menu != blank
            assign horizontal_menu_section = section_item
            assign menu_links = section_item.settings.mega_menu.links
            assign method_used = 'method-3-section-groups'
            break
          endif
        endfor
      endif
    endfor
  endif
  
  comment Method 4: Try common menu handles as fallback
  endcomment
  if menu_links == null
    if linklists.main-menu != blank
      assign menu_links = linklists.main-menu.links
      assign method_used = 'method-4-linklist-main-menu'
    elsif linklists.mega-menu != blank
      assign menu_links = linklists.mega-menu.links
      assign method_used = 'method-4-linklist-mega-menu'
    elsif linklists.menu != blank
      assign menu_links = linklists.menu.links
      assign method_used = 'method-4-linklist-menu'
    endif
  endif
  
  if horizontal_menu_section != null
    assign horizontal_section_st = horizontal_menu_section.settings
    assign theme_st = settings
    assign section_width = horizontal_section_st.section_width | default: 'container'
    assign uppercase_first = horizontal_section_st.uppercase_first | default: false
  else
    assign horizontal_section_st = null
    assign theme_st = settings
    assign section_width = 'container'
    assign uppercase_first = false
  endif
-%}
{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<div class="verticalmenu-desktop vertical-menu fixed color-default" data-title="{{ title }}" data-menu-method="{{ method_used }}" data-menu-found="{{ menu_links != null }}">
  <div
    class="navigation vertical"
    {% if horizontal_menu_section != null %}
      style="
        --hot-cl: {{ horizontal_section_st.label_color_hot }};--hot-bg-cl: {{ horizontal_section_st.label_background_hot }};
        --new-cl: {{ horizontal_section_st.label_color_new }};--new-bg-cl: {{ horizontal_section_st.label_background_new }};
        --sale-cl: {{ horizontal_section_st.label_color_sale }};;--sale-bg-cl: {{ horizontal_section_st.label_background_sale }};
        --popular-cl: {{ horizontal_section_st.label_color_popular }};;--popular-bg-cl: {{ horizontal_section_st.label_background_popular }};
        {% if horizontal_section_st.submenu_background %}--gradient-background: {{ horizontal_section_st.submenu_background }};--color-background: {{ horizontal_section_st.submenu_background }};{% endif %}{% if horizontal_section_st.submenu_color %}--color-link: {{ horizontal_section_st.submenu_color }};--color-heading: {{ horizontal_section_st.submenu_color }};{% endif %}
      "
    {% endif %}
  >
    <div class="desktop-menu-content reset-color-on-menu">
      <div class="title-menu-dropdown h-44 w-full align-center hidden" style="--color-background: {{ section_st.background_categories }}">
        <div class="toggle-vertical inline-flex pointer align-center gap-10">
          <svg width="18" height="13" viewBox="0 0 18 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 7.5C1.26562 7.5 1.0638 7.42188 0.894531 7.26562C0.738281 7.09635 0.660156 6.89453 0.660156 6.66016C0.660156 6.4388 0.738281 6.25 0.894531 6.09375C1.0638 5.92448 1.26562 5.83984 1.5 5.83984H16.5C16.7344 5.83984 16.9297 5.92448 17.0859 6.09375C17.2552 6.25 17.3398 6.4388 17.3398 6.66016C17.3398 6.89453 17.2552 7.09635 17.0859 7.26562C16.9297 7.42188 16.7344 7.5 16.5 7.5H1.5ZM1.5 2.5C1.26562 2.5 1.0638 2.42188 0.894531 2.26562C0.738281 2.09635 0.660156 1.89453 0.660156 1.66016C0.660156 1.4388 0.738281 1.25 0.894531 1.09375C1.0638 0.924479 1.26562 0.839844 1.5 0.839844H16.5C16.7344 0.839844 16.9297 0.924479 17.0859 1.09375C17.2552 1.25 17.3398 1.4388 17.3398 1.66016C17.3398 1.89453 17.2552 2.09635 17.0859 2.26562C16.9297 2.42188 16.7344 2.5 16.5 2.5H1.5ZM1.5 12.5C1.26562 12.5 1.0638 12.4219 0.894531 12.2656C0.738281 12.0964 0.660156 11.8945 0.660156 11.6602C0.660156 11.4388 0.738281 11.25 0.894531 11.0938C1.0638 10.9245 1.26562 10.8398 1.5 10.8398H16.5C16.7344 10.8398 16.9297 10.9245 17.0859 11.0938C17.2552 11.25 17.3398 11.4388 17.3398 11.6602C17.3398 11.8945 17.2552 12.0964 17.0859 12.2656C16.9297 12.4219 16.7344 12.5 16.5 12.5H1.5Z" fill="currentColor"/>
          </svg>
          <span>{{ title | default: 'Menu' }}</span>
        </div>
      </div>
      <div class="verticalmenu-html">
        <ul>
          {%- if menu_links != null and menu_links.size > 0 -%}
            {%- for link in menu_links -%}
              {%- liquid
                assign last_block = null
                assign link_title = link.title
                assign has_icon = false
                assign icon_html = ''
                
                if horizontal_menu_section != null
                  assign title = link.title | downcase
                  for block in horizontal_menu_section.blocks
                    assign text = block.settings.text | downcase
                    if text == title
                      assign last_block = block
                    endif
                  endfor
                else
                  if horizontal_menu_section != null
                    assign link_title_checked = link.title | downcase
                    for block in horizontal_menu_section.blocks
                      assign text = block.settings.text | downcase
                      if text == link_title_checked
                        assign last_block = block
                      endif
                    endfor
                  endif
                endif
              -%}
            {% if last_block != null %}
              {%- liquid
                assign block_st = last_block.settings
                assign has_content = false
                assign mega_custom_width = block_st.mega_custom_width
              -%}
              {%- case last_block.type -%}
                {%- when 'menu_promotion' -%}
                  {%- liquid
                    if block_st.promotion_image_1 != blank
                      assign has_content = true
                    endif
                  -%}
                {% else %}
                  {%- liquid
                    if block_st.product_1 != blank
                      assign has_content = true
                    endif
                  -%}
              {%- endcase -%}
              {%- capture menu_level_0 -%}
                <menu-item>
                  <a href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% else %}
                      <span>
                        {{ link_title | strip | first | upcase }}
                      </span>
                    {% endif %}
                    <span>{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle>
                      <svg width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
              {%- endcapture -%}
              <li>
                {{ menu_level_0 }}
                {%- if link.links.size > 0 or has_content -%}
                  <div style="--mega_custom_width: {{ mega_custom_width }}px">
                    <div>
                      <back-menu role="link">
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div>
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    <div>
                      {%- case last_block.type -%}
                        {%- when 'menu_promotion' -%}
                          {% assign banner_count = 0 %}
                          {%- if block_st.promotion_image_1 != blank -%}
                            {% assign banner_count = banner_count | plus: 1 %}
                          {%- endif -%}
                          <div style="--col-mega-width: {% if block_st.promotion_style == 'horizontal' %}{{ block_st.promotion_image_width }}{% else %}0{% endif %}%; --col-gap: 30px">
                            {% if link.links.size > 0 %}
                              <div style="--row-gap: 40px; --col-desktop:{{ block_st.promotion_menu_column }};">
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if block_st.promotion_image_1 != blank or block_st.promotion_image_2 != blank -%}
                              <div>
                                <div style="--col-number: {{ banner_count }}">
                                  {%- if block_st.promotion_image_1 != blank -%}
                                    {%- assign banner_alt = block_st.promotion_image_1.alt
                                      | default: link.title
                                      | escape
                                    -%}
                                    <a
                                      {% if block_st.promotion_link_1 == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        aria-label="{{ link.title }}" href="{{ block_st.promotion_link_1 }}"
                                      {% endif %}
                                      {% if block_st.promotion_link_newtab_1 != blank %}
                                        target="_blank"
                                      {% endif %}
                                      style="--aspect-ratio: {{ block_st.promotion_image_1.aspect_ratio}}"
                                    >
                                      {% render 'responsive-image',
                                        type: banner,
                                        container: section_width,
                                        image: block_st.promotion_image_1,
                                        image_alt: banner_alt,
                                        colunm: colunm,
                                        colunm_mobile: colunm_mobile,
                                        padding: 20,
                                        sizes: '(min-width: 1200px) 450px, 360px',
                                        class: 'rounded'
                                      %}
                                    </a>
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>
                        {% else %}
                          {% assign product_count = 0 %}
                          {%- liquid
                            if block_st.product_1 != blank
                              assign product_count = product_count | plus: 1
                            endif
                          -%}
                          <div style="--col-mega-width: {{ block_st.product_width }}%">
                            {% if link.links.size > 0 %}
                              <div style="--row-gap: 40px; --col-desktop:{{ block_st.product_menu_column }};">
                                {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop' -%}
                              </div>
                            {% endif %}
                            {%- if product_count > 0 -%}
                              <div>
                                <div style="--col-number: {{ product_count }}">
                                  <span>
                                    {{ block_st.product_title }}
                                  </span>
                                  {% render 'product-item',
                                    card_product: block_st.product_1,
                                    template_enable_product_vendor: false,
                                    template_enable_rate: true,
                                    template_enable_product_short_description: false,
                                    template_enable_color_swatches: true,
                                    type: 'grid',
                                    template_enable_action: true,
                                    template_enable_product_badges: true,
                                    template_enable_price: true
                                  %}
                                </div>
                              </div>
                            {%- endif -%}
                          </div>

                      {%- endcase -%}
                    </div>
                  </div>
                {%- endif -%}
              </li>
            {% else %}
              {% liquid
                assign has_children = false
                for child_link in link.links
                  if child_link.links.size > 0
                    assign has_children = true
                  endif
                endfor
              %}
              <li>
                <menu-item>
                  <a href="{{ link.url }}">
                    {% if has_icon %}
                      {{ icon_html }}
                    {% else %}
                      <span>
                        {{ link_title | strip | first | upcase }}
                      </span>
                    {% endif %}
                    <span>{{ link_title }}</span>  
                  </a>
                  {%- if link.links.size > 0 -%}
                    <open-children-toggle>
                      <svg width="12" height="8">
                        <use href="#icon-next"></use>
                      </svg>
                    </open-children-toggle>
                  {%- endif -%}
                </menu-item>
                {%- if link.links.size > 0 -%}
                  <div>
                    <div>
                      <back-menu role="link">
                        {% if enable_rtl %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-next" />
                          </svg>
                        {% else %}
                          <svg width="6" height="11" fill="none">
                            <use href="#icon-back" />
                          </svg>
                        {% endif %}
                        <div>
                          {% if has_icon %}
                            {{ icon_html }}
                          {% endif %}
                          <span>
                            {{ link_title }}
                          </span>
                        </div>
                      </back-menu>
                      <close-menu>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none">
                          <use href="#icon-close" />
                        </svg>
                      </close-menu>
                    </div>
                    {%- render 'submenu-list', link: link, menu_type: 'vertical_desktop', type_menu: 'mega' -%}
                  </div>
                {%- endif -%}
              </li>
            {% endif %}
          {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="vertical-menu-overlay-desktop"></div>
